.about-row-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

h2.about-head {
  text-align: center;
  margin-bottom: 50px;
}

/* .about-row-flex-img,
.about-row-txt {
  width: 50%;
} */


.row.img-explanation{
text-align: center;
}

.fadeInLeft.location-video-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* 
  justify-content: space-between;
  margin: 5px;
  flex-direction: row; */
  flex-wrap: wrap;
}
.fadeInLeft.location-video-containe > iframe{
  width: 50%;
}
.fadeInLeft.location-video-container > div {
  /* width: 50vw;
  
  margin: 10px;
  padding: 0px; */
  /* width: 80vw; */
  margin: 10px;
}
.fadeInLeft.location-video-container video {
  width: 400px;
  height: auto;
  /* max-width: 100vw; */
}
@media (max-width:500px) {
  .fadeInLeft.location-video-container video {
  width: 80vw;
  height: auto;
  /* max-width: 100vw; */
}
}

@media (min-width: 700px) {
  h2.about-head {
    text-align: center;
    margin-bottom: 100px;
  }
  .about-row-flex-img,
  .about-row-txt {
    width: 50%;
  }
}
